h1{
font-size: 2.5rem;
font-weight: 700;
color: black;

}
span{
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(34,34,48);
}
nav{
    display: flex;
    width: 100%;
    height: 75px;
    position: fixed;
    background-color:#8871fc    ;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow:2px 2px 10px rgba(0, 0,0,0.15)
}
nav>img{
    
  height: 70px;
  width: 100px;
  margin-left: 10px;
    cursor: pointer;
}
.title{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family:inter;
    font-size: 35px;
    /* align-items: start; */
    padding-left: 16px;
    padding-top: 10px;
    letter-spacing: 0.5px;
    margin-left: -200px;
    

    
}
.navigation>ul{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navigation>ul>li{
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 40px;
    
}
.navigation>ul>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 19px;
    
    
    font-weight: 100;
    transition: 0.3s ease-in;
}

.navigation ul li a:hover{
    color: rgb(10, 10, 10);



}
.navigation ul li a.active{
    color: rgb(8, 8, 8);
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;    
    background-color:white;
    box-shadow: -10px 0 10px rgba(0, 0, 0,0.1);
    backdrop-filter:rgba(80, 80, 99, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar >li{
    width: 100%;
    list-style: none;
    text-decoration: none;
    margin-left: 60px;
    margin-top: 10px;
    margin-right: 20px;
    /* align-items: center; */
}
.sidebar li a {
    width: 100%;
    text-decoration: none;
    color: black;
    margin-top: 28px;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 100;
    transition: 0.3s ease-in;
}
.sidebar  li a:hover{
    color: rgb(31, 243, 225);
}
.sidebar  li a.active{
    color: aqua;
}
@media (max-width:490px){
    .navigation{
        margin-right: 20px;
    }
}
@media (min-width:800px){
    .hide{
        display: none;
    }

}
@media (max-width:800px) {
    .hideOnMobile{
        display: none;
    }
   
    .title{
        margin-left: -10px;
        font-size: 20px;
    }
    
    .sidebar{

        
    }
    nav>img{
    
        height: 60px;
        width: 60px;
          cursor: pointer;
          margin-left: 10px;

      }
    
}



    
/*home page*/
.home{
    background-image:linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)   ),url("img/home2.jpg");
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home h2{
    color: azure;
    font-size: 50px;
    font-weight: 200rem;
    width: 60%;
    letter-spacing: 1px;
}
.home p{
    color: azure;
    font-size: 0.9rem;
    width: 50%;
    line-height: 25px;

}
.button>a {
    font-weight: bold;
}
.col{
    background-color: aliceblue;
}
/* responsive home page */
@media (max-width:800px){
    .home{
        height: 100%;
        width: 100%;
        background-position: center;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .home h2{
        color: azure;
        font-size: 40px;
        font-weight: 200rem;
        width: 80%;
        letter-spacing: 1px;

    }
   
}
@media (max-width:470px) {
    .home h2{
        color: azure;
        font-size: 30px;
        font-weight: 200rem;
        width: 80%;
        letter-spacing: 1px;

    }
    .home p{
        color: azure;
        font-size: 0.9rem;
        width: 90%;
        line-height: 25px;
    
    }


    
}
/* features */
.feature{
  
    text-align: center;
    padding: 5px 8px 0px 8px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 5.4rem;
    
   
}
.features-box{
    
   
    text-align: start;
    background: #5c5cbb;
    box-shadow:2px 2px 10px rgba(0, 0,0,0.15);
    width: 100%
    

}
.features-box i{
    font-size: 40px;
    padding: 20px 20px;
}
.features-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(63, 62, 62);
    padding: 0px 0px 0px 10px;
    
}
.features-box p{
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 10px;
    
    padding-right: 10px;
    color: rgb(46, 42, 42);
    
}
.fea{
   
display: grid;
grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
grid-gap: 1rem;
}
#courses{
    padding: 8vw 8vw 0vw 8vw;
    text-align: center;

}
.course{
    text-align: center;
    background-color: #5c5cbb;
    height: 100%;
    border-radius: 10px;
    padding-top: 30px;
}.course img{
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 60%;
    border-radius: 05px;
}

.course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 1rem;    
    border-radius: 50px;
}
.details{
    padding: 10px 10px;
}
.star>i{
    color: rgb(240, 207, 24);
    font-size: 15px;
}
.register{
    padding: 6vw 8vw 6vw 8vw;
    background-image:linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)   ),url("img/signup.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message{
    color: #fff;

}
.message h1{
    color:#fff;
}
.form{
    background: #fff;
    border-radius: 8px;
    display: flex;
    width: 450px;
    flex-direction: column;
    padding:40px;
    box-shadow: 0px 8px 32px 0 rgba(31,38,135,0.37);

}
.form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgba(84,40,241);
    outline: none;
}
/* responsive register */
@media (max-width:490px){
    .message h1{
        color:#eae7f0;
        font-size: 20px;
        width: 100%;
        
    }
    .register{
        padding: 6vw 8vw 6vw 8vw;
        background-image:linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)   ),url("img/signup.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form{
        background: #fff;
        border-radius: 8px;
        display: flex;
        width: 250px;
        flex-direction: column;
        padding:40px;
        box-shadow: 0px 8px 32px 0 rgba(31,38,135,0.37);
    
    }

}
.pro{
    padding: 8vw 8vw 0vw 8vw;
    text-align: center;
}
.p{
    text-align: center;
    background-color: #5c5cbb;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    padding-top: 30px;
    margin: 15px 7px;
}.p img{
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 40%;
    border-radius: 05px;
}
.p p{
    margin-top: 1px;
}

.p-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 1rem;    
    border-radius: 50px;
}



.profileC{
    /* display: flex; */
    
    
    height: 400px;
    width: 300px;
    @media (max-width:1200px) {

        /* background: aqua; */
        margin-right: 100px;
        margin-left: 140px;
        


    
    }
    
    /* border :1px solid black; */
    border-radius: 5px;
    background:linear-gradient(rgb(152, 61, 238),rgb(87, 86, 86));
    box-shadow:2px 2px 10px rgba(0, 0,0,0.15);
    flex-wrap: wrap;
    flex-flow: column;
    

    
}

.p p{

    margin-top: 1px;
}
.p a{

    /* margin-top: 1px; */
    color: #070000;
    transition: ease-in;
}
.p a:hover{

    color: rgb(252, 247, 247);
}
.p h5{
    margin-top: 10px;
    
    
}
@media (max-width:490px) {
    .p{
        margin-right: 50px;
        margin-left: 50px;
    }
   

    
}














footer{
    /* margin-top: 20px; */
    padding: 8vw;
    background-color: #757373;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-col{
    padding-bottom: 40px;
}
footer h3{
    color: #f9f9ff;
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    color: rgb(2, 2, 2);
    padding: 10px 0px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: #f9f9ff;
}
footer p{
    color: #f9f9ff;
}
footer.subscribe{
    margin-top: 20px;

}
footer input{
    width: 250px;
    height: 40px;
    margin-top: 10px;
    padding:15px 12px ;
    background: #969494;
    border: none;
    outline: none;
    color: #fff;

}
.subscribe a{
    font-weight: bold;
    height: 42px;
    padding: auto;
    border-radius: 1px;
}
.subscribe a:hover{
    color: black;
}
.copy{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.links a {
    /* height: 190px; */
    color: rgb(252, 252, 255);
    margin: 5px;

}
/* about page */
.about-home{
    background-image:linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)   ),url("img/abc.jpg");
    height: 20vh;
    width: 100%;
    padding-top: 600px;
    
    border-radius: 40px;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-home h2{
        color: #fff;
        font-size: 2.2rem;
        letter-spacing: 1px;


}
.about-container{
    display: flex;
    align-items: center;
    padding: 1vw 2vw 2vw 8vw;
    margin-top: 1px;

}
.about-img{
    width: 60%;
}
.about-text{
    width: 190%;
    padding: 60px;
}
.about-text h6{
    color: #062344;
    padding-bottom: 15px;
    width: 100%;
    
}
.about-text p{
    color: #686F7A;
     padding-bottom: 15px;
    font-weight: 300;
}
.about-fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.about-fe img{
    width: 50px;
    background-size: cover;
    background-position: center;

}  
.establish{
    text-align: center;
    padding: 8vw ;
}
.trust-img{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}
.trust-img img{
    width: 90px;
    height: auto;

}
/* responsive about */   
@media( max-width:490px) {
    .establish{
        text-align: center;
        padding: 1vw ;
        
    }
    .trust-img{
        margin-top: 60px;
        width: 380px;
        display: flex;
  
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
    
    
    
    }
    .trust-img img{
        width: 90px;
        height: auto;
    
    }
    .about-container{
        display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        align-items: center;
        padding: 1vw 2vw 2vw 8vw;
        width: 400px;
        margin-top: 1px;
    
    }
    .about-img img{
        height: 400px;

        width: 300px;
        margin-top: -1000px;
        display: inline;
        
    }
    .about-text h6{
        color: #071627;
        /* position: absolute; */
        padding-bottom: 15px;
        width: 100%;
        font-size: medium;      
    }
    .about-img{
        width: 60%;
    }
    .about-text{
        width: 100%;
        padding: 60px;
    }
    .about-text h4{
        color: #062344;
        padding-bottom: 15px;
        width: 100%;
        
    }
    .about-text p{
        color: #686F7A;
         padding-bottom: 15px;
        font-weight: 300;
    }
    .about-fe{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        justify-content: space-between;
        align-items: flex-start;
    
    }
    .about-fe img{
        width: 50px;
        background-size: cover;
        background-position: center;
    
    }  
    
    .about-home{
        background-image:linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)   ),url("img/abc.jpg");
        height:400px ;
        width: 100%;
        padding-top: 600px;
        padding-right: 90px;
        background-repeat: no-repeat;
        border-radius: 40px;
        background-position: center;
        background-size: contain;
        flex-direction: column;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

    
    


/* COURSES PAGE */

.coursess{
    /* background-image:linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)   ),url("img/back2.jpg"); */
    /* height: 60%;
    width: 100%; */
    padding: 40px 40px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.coi img{
    border-radius: 40px;
    
    margin-top: 100px;
    width: 90%;
}
.coursess h2{
   
    margin-left: -50px;
    margin-top: 89px;   
    letter-spacing: 1px;
    
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      
      
}
.ctitle p{
    /* font-weight: bold; */
        margin-top: 100px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 12;
        font-size: x-large;
        font-style: normal;
        /* height: 400pxz; */
        font-stretch: expanded;
        /* line-height: 50px; */
        
    
      
}

.contact{
    background-image:linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)   ),url("img/b2.jpg");
    height: 60%;
    width: 100%;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}
.contact h2{
    color: azure;
    font-size: 50px;
    font-weight: 200rem;
    width: 60%;
    letter-spacing: 1px;
}
.con{
    padding: 8vw;
}
.con.getin{
    width:350px;

}
.getin h2{
    color: #2c234d;
    /* background-color: #2c234d; */
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}
.getin p{
    
        color: #2c234d;
        /* background-color: #2c234d; */
       
        line-height: 24px;
        margin-bottom: 33px;
        padding-bottom: 25px;
        border-bottom: 1px solid #e5e4ed;   
}
.getin h3{
    color: #2c234d;
    /* background-color: #2c234d; */
    font-size: 15px;
    font-weight: 600;
    line-height: .8;
    margin-bottom: 15px;
}
.get-det div{
    /* background-color: #070000; */
    display: flex;
}
.get-det i{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
}
.get-det p{
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}
.con{
    padding: 8vw;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start ;
}
.formm{
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
}
.formm h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;

}
.formm p{
    
    color: #5d32fa;
    /* background-color: #2c234d; */
   
    line-height: 24px;
    /* margin-bottom: 33px; */
    padding-bottom: 25px;
    /* border-bottom: 1px solid #e5e4ed;    */
}
.form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.form-col input,textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.maps{
    width: 100%;
    height: 70vh;
    /* margin-bottom: 8vw; */


}
.maps iframe{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
@media(max-width:490px){
    .form-row{
         display: block; 
        justify-content: space-between;
        width: 100%;
    }
    .form-row input{
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        border-radius: 3px;
        border: none;
        background: #fff;
        color: #7e7c87;
        padding: 20px 30px;
        margin-bottom: 20px;
    }
    .formm{
        width: 400px;
        background: #dbd7e7;
        padding: 40px;
        border-radius: 10px;
        margin-left: 30px;
    }
    
}
